.s-factory_command-panel {
  position: absolute;
  top: var(--s-factory-side-padding);
  left: 50%;
  display: flex;
  align-items: center;
  z-index: 100;
  opacity: 0;
  translate: -50% calc(-100% - var(--s-factory-side-padding));

  &:focus-within,
  &:hover,
  .-show-ui & {
    translate: -50% 0;
    opacity: 1;
  }
}
