.s-factory-command-panel {
  display: block;
  width: 100%;

  &.-bottom {
  }
  &.-top {
  }
  &.-empty {
  }
  &.-loading {
  }
  &.-filtered {
  }
  &.-inline {
  }

  .s-factory-command-panel_before {
  }

  .s-factory-command-panel_after {
  }

  .s-factory-command-panel_input {
    outline: none;
    display: block;
    font-size: s-size(20);
    width: 100%;
  }

  .s-factory-command-panel_prefix {
    font-family: monospace;
    opacity: 0.3;
    margin-inline-end: s-space(10);
  }

  .s-factory-command-panel_dropdown {
    background: s-color(main, background);
    box-shadow: var(--s-factory-depth);
    @s-radius;
  }

  .s-factory-command-panel_keywords {
  }
  .s-factory-command-panel_keyword {
  }

  .s-factory-command-panel_items {
    padding: s-space(10);
    @s-scrollbar (2px, s-color(accent), s-color(accent, --alpha 0.02));
  }
  .s-factory-command-panel_item {
    padding: s-space(10) s-space(20);
    font-size: s-size(20);
    white-space: nowrap;
    border-bottom: solid 1px s-color(main, border);
    @s-radius;

    &:last-child {
      border-bottom: none;
    }

    &.-preselected {
      background: s-color(accent, --alpha 0.1);
    }
    &.-selected {
      background: s-color(accent);
      color: s-color(accent, foreground);
    }
    &.-filtered {
    }
    &.-match {
    }
  }
  .s-factory-command-panel_group-item {
  }

  .s-factory-command-panel_highlight {
    background: s-color(accent);
    color: s-color(accent, foreground);
    @s-radius;
  }

  .s-factory-command-panel_group {
  }
  .s-factory-command-panel_group-label {
  }

  .s-factory-command-panel_group-items {
  }
  .s-factory-command-panel_group-items-inner {
  }

  .s-factory-command-panel_empty {
  }
  .s-factory-command-panel_loading {
  }
}
