@import './mediaQueries.bare.css';

.s-factory_media-queries {
  .s-factory_media-queries-list {
    gap: s-space(10);
  }
  .s-factory_media-queries-list-item {
    background: s-color(accent, --alpha 0.1);
    padding: s-space(0) s-space(15);
    display: flex;
    align-items: center;
    cursor: pointer;
    @s-transition (fast);
    @s-radius;

    &.-active {
      background: s-color(accent);
      color: s-color(accent, foreground);
    }

    &:hover:not(.-active) {
      background: s-color(accent, --alpha 0.2);
    }
  }
  .s-factory_media-queries-list-item-name {
    text-transform: uppercase;
    font-size: s-size(10);
    letter-spacing: 0.05em;
  }
}
