.form .s-json-schema-form {
  .s-json-schema-form_inner {
  }

  .s-json-schema-form_values {
    display: flex;
    flex-direction: column;
    gap: s-space(20);
  }

  .s-json-schema-form_values-item {
  }

  .s-json-schema-form_values-array {
    display: flex;
    flex-direction: column;
    gap: s-space(20);

    .s-json-schema-form_values-add {
    }
  }
  .s-json-schema-form_values-array-item {
  }
  .s-json-schema-form_values-array-item-header {
  }
  .s-json-schema-form_values-array-item-index {
  }
  .s-json-schema-form_values-array-item-id {
  }

  .s-json-schema-form_values-object {
    display: flex;
    flex-direction: column;
    gap: s-space(20);
  }
  .s-json-schema-form_values-object-item {
  }
  .s-json-schema-form_values-object-item-header {
  }
  .s-json-schema-form_values-object-item-title {
  }

  .s-json-schema-form_values-label {
    width: 100%;
    padding-block: s-space(10);
  }
  .s-json-schema-form_values-prop {
  }

  .s-json-schema-form_values-value {
    .s-json-schema-form_values-select {
    }
    .s-json-schema-form_values-input {
    }
    .s-json-schema-form_values-checkbox {
    }

    .-number {
    }
    .-true {
    }
    .-false {
    }
    .-null {
    }
    .-undefined {
    }

    .s-json-schema-form_values-errors {
    }
    .s-json-schema-form_values-error {
    }
  }
}
