@import './editor.bare.css';
@import './editor.jsonSchemaForm.css';

.s-factory_editor {
  background: s-color(main, background);
  box-shadow: var(--s-factory-depth);
  @s-radius;
  @s-transition();

  /* .s-factory-json-schema-form {
    .s-factory-json-schema-form_values-item {
    }

    .s-factory-json-schema-form_values-prop:has(
        + .s-factory-json-schema-form_values-array
      ),
    .s-factory-json-schema-form_values-prop:has(
        + .s-factory-json-schema-form_values-object
      ),
    .s-factory-json-schema-form_values-index {
      background: s-color(accent, --alpha 0.2);
      color: s-color(accent);
      font-weight: bold;
      text-align: left;
      padding-inline-end: s-space(20);
      padding-block: s-space(10);
      transition: s-transition(fast);
      width: 15ch;
    }
    .s-factory-json-schema-form_values-index {
      color: s-color(error, --alpha 0.4);
      background: s-color(accent, --alpha 0.1);
      padding-inline-start: 15ch;
    }
    .s-factory-json-schema-form_values-prop:has(
        + .s-factory-json-schema-form_values-array
      ),
    .s-factory-json-schema-form_values-prop:has(
        + .s-factory-json-schema-form_values-object
      ) {
      padding-inline-start: calc(
        15ch - ((var(--prop-length)) * 1ch) - s-space(10)
      );
    }

    .s-factory-json-schema-form_values-errors {
      color: s-color(error);
    }
    .s-factory-json-schema-form_values-error {
    }

    .s-factory-json-schema-form_values-prop {
      text-align: right;
      color: s-color(accent);
      padding-inline-end: s-space(20);
      padding-block: s-space(10);
      transition: s-transition(fast);
      width: 15ch;
    }
    .s-factory-json-schema-form_values-value {
      padding-block: s-space(10);
      padding-inline: s-space(20);
      background: s-color(accent, --alpha 0.05);
      width: calc(100% - 15ch);
      color: rgba(0, 0, 0, 0.6);

      &:has(.s-factory-json-schema-form_values-errors) {
        background: s-color(error, --alpha 0.2);
      }

      .-null,
      .-undefined,
      .-number,
      .-true,
      .-false {
        font-family: s-font-family(code);
        font-weight: 500;
      }

      .-null {
        opacity: 0.3;
      }
      .-undefined {
        opacity: 0.3;
      }
      .-number {
      }
      .-true {
        color: s-color(success, --darken 10);
      }
      .-false {
        color: s-color(error, --darken 10);
      }
    }

    .s-factory-json-schema-form_values-value,
    .s-factory-json-schema-form_values-prop {
      opacity: 0.4;

      &:hover,
      &:has(+ .s-factory-json-schema-form_values-value:hover),
      &:has(+ .s-factory-json-schema-form_values-array:hover),
      &:has(+ .s-factory-json-schema-form_values-object:hover) {
        opacity: 1;
      }
    }
  } */
}
