.s-factory-json-schema-form {
  padding: s-space(10, 20, 10, 10);

  .s-factory-json-schema-form_inner {
  }

  .s-factory-json-schema-form_values {
  }

  .s-factory-json-schema-form_values-item {
    border-bottom: 1px solid s-color(main, border);
    padding: s-space(20) 0;

    &:last-child {
      border-bottom: none;
    }
  }

  .s-json-schema-form_values-array {
    padding-inline-start: s-space(10);
    padding-block: s-space(20);

    .s-json-schema-form_values-add {
      margin-block-start: s-space(20);
      width: 100%;
      text-align: center;
    }
  }
  .s-json-schema-form_values-array-item {
  }
  .s-json-schema-form_values-array-item-header {
    background: s-color(accent, --alpha 0.1);
    padding: s-space(20);
    display: flex;
    align-items: center;
    width: 100%;
  }
  .s-json-schema-form_values-array-item-index {
    flex-grow: 1;
    font-weight: bold;
    opacity: 0.5;
  }
  .s-json-schema-form_values-array-item-id {
    /* font-size: s-size(15); */
    border: 1px solid s-color(accent);
    @s-radius;
    padding: s-space(5, 15);
    align-self: center;
    justify-self: center;
    flex-grow: 0;
    font-size: s-size(15);
    color: s-color(accent);
    user-select: all;
  }

  .s-json-schema-form_values-object {
    display: flex;
    flex-direction: column;
    padding-block: s-space(20);
    padding-inline-start: s-space(10);
  }
  .s-json-schema-form_values-object-item {
  }
  .s-json-schema-form_values-object-item-header {
    background: s-color(accent, --alpha 0.1);
    padding: s-space(20);
    display: flex;
    width: 100%;
  }
  .s-json-schema-form_values-object-item-title {
  }

  .s-factory-json-schema-form_values-object-item,
  .s-factory-json-schema-form_values-array-item {
    border-left: 1px solid s-color(accent, border);
    border-bottom: 1px solid s-color(main, border);
    @s-transition();

    &:hover,
    &:has(.s-factory-json-schema-form_values-item:hover) {
      border-left: 1px solid s-color(accent);
    }
  }

  .s-factory-json-schema-form_values-label {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    align-items: center;
    padding-inline: s-space(20);
  }
  .s-factory-json-schema-form_values-prop {
    text-transform: uppercase;
    font-size: s-size(15);
    opacity: 0.5;
    @s-transition (fast);
    flex-grow: 1;
  }

  .s-factory-json-schema-form_values-value {
    flex-grow: 1;
    justify-content: end;
    width: 65%;
    flex-grow: 0;
    flex-shrink: 0;
    display: flex;

    .s-factory-json-schema-form_values-select {
      width: 100%;
    }
    .s-factory-json-schema-form_values-input {
      width: 100%;
    }
    .s-factory-json-schema-form_values-checkbox {
    }

    .-number {
    }
    .-true {
    }
    .-false {
    }
    .-null {
    }
    .-undefined {
    }
  }

  .s-factory-json-schema-form_values-label:hover
    + .s-factory-json-schema-form_values-value,
  .s-factory-json-schema-form_values-value:hover {
    input,
    select,
    textarea {
      border-color: s-color(accent, --alpha 0.4);
    }
  }

  .s-factory-json-schema-form_values-errors {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: s-space(10);
    flex-grow: 1;
    flex-shrink: 0;
    justify-content: stretch;
    margin-block-start: s-space(10);
    background: s-color(error, --alpha 0.1);
    @s-radius;
  }
  .s-factory-json-schema-form_values-error {
    display: block;
    width: 100%;
    flex-grow: 1;
    padding: s-space(10) s-space(20);
    color: s-color(error, --alpha 0.5);
    font-size: s-size(15);
    @s-radius;
  }
}
